openapi: 3.0.3

info:
  version: 1.0.0
  title: 游뚱[AOS 2023] Inventario de taller de coches 游뚱
  description: >
    ## 游뚲 API REST para la gesti칩n de inventario de taller de coches
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
servers:
  - url: http://127.0.0.1:80/api/v1
tags:
  - name: '丘뙖잺Iventario'

paths:
   
components:
  schemas:
   Recambio: 
    title: '丘뙖잺 Recambio de una art칤culo del taller'
    description: >
      Un recambio de un taller de veh칤culos se refiere a la sustituci칩n de una pieza o componente
      da침ado o desgastado en un veh칤culo por uno nuevo o reemplazo. Los talleres de veh칤culos
      ofrecen una amplia variedad de recambios para distintas marcas y modelos de veh칤culos,
      desde elementos tan b치sicos como las buj칤as hasta componentes m치s complejos como motores y transmisiones
    type: object
    properties:
      Recambio:
        type: object
        required: [nombre,descripci칩n,proveedor,equivalencias,garant칤a,precio,IVA,importe,cantidad]
        properties:
          nombre:
            $ref: '#/components/schemas/Nombre_Recambio'
          descripci칩n:
            $ref: '#/components/schemas/Descripcion_Recambio'
          proveedor:
            $ref: '#/components/schemas/Proveedor_Recambio'
          equivalencias:
            $ref: '#/components/schemas/Garantia_Recambio'
          garant칤a:
            $ref: '#/components/schemas/Garantia_Recambio'
          precio: 
            $ref: '#/components/schemas/Precio_Recambio'
          IVA:
            $ref: '#/components/schemas/IVA_Recambio'
          importe:
            $ref: '#/components/schemas/Importe_Recambio'
          cantidad: 
            $ref: '#/components/schemas/Cantidad_Recambio'

   Nombre_Recambio:
     title: 'Nombre recambio'
     type: string
   Descripcion_Recambio:
     title: 'Descripcion'
     description: >
       Explicaci칩n detallada de las caracter칤sticas, funciones y especificaciones
       t칠cnicas de una pieza o componente de repuesto para un veh칤culo. Esta descripci칩n
       es importante para asegurarse de que el recambio es adecuado para el veh칤culo y 
       para comprender su funci칩n dentro del mismo.
     type: string

   Proveedor_Recambio:
      title: 'Proveedor del recambio'
      description: >
       El proveedor de un recambio para un taller de veh칤culos puede ser una empresa
       especializada en la fabricaci칩n y distribuci칩n de piezas de repuesto para autom칩viles
       o bien un distribuidor que suministre los repuestos de diferentes fabricantes. 
      type: string
   Equivalencias_Recambio:
      title: ''
   Garantia_Recambio:
      title: 'Garant칤a del recambio'
      description: >
        
   Precio_Recambio:
      title: 'Precio'
      description: 'Precio sin IVA asignado a cada recambio'
      type: number
      format: double
   IVA_Recambio:
      title: 'IVA '
      description: >
       Es un tributo de car치cter indirecto. Recae sobre los consumidores,
       puesto que lo pagan al adquirir un producto o servicio: sobre el precio neto 
       de los mismos se establece una aplicaci칩n que var칤a en su porcentaje.
      type: string
      pattern: '/^[0-9]{1,2}[%]$/'
      example: '21%'
       # https://v6.fakerjs.dev/guide/
      x-faker: helpers.regexpStyleStringParse('/^[0-9]{1,2}[%]$/')
   Importe_Recambio:
      title: 'Importe'
      description: 'Precio final a침adiendo el IVA al precio a cada recambio'
      type: number
      format: double
   Cantidad_Recambio:
      title: 'Cantidad'
      description: 'Numero de unidades del recambio disponibles en el taller'
      type: integer